[submodule "resources/opengl_sb_5"]
	path = resources/opengl_sb_5
	url = https://github.com/flyingwjw/OpenGL_SuperBible_5th_Edition_Source_Code.git
[submodule "resources/learnopengl"]
	path = resources/learnopengl
	url = https://github.com/JoeyDeVries/LearnOpenGL.git
[submodule "resources/colmap"]
	path = resources/colmap
	url = https://github.com/colmap/colmap.git
[submodule "resources/libre-translate"]
	path = resources/libre-translate
	url = https://github.com/LibreTranslate/LibreTranslate.git
[submodule "resources/clip-as-service"]
	path = resources/clip-as-service
	url = https://github.com/jina-ai/clip-as-service.git
